# packaging
pip>=9
setuptools>=26
twine
wheel>=0.29

# data science
numpy
pandas
scikit-learn

# tests/linter
black
coverage
flake8
pytest
yapf

# API
gcsfs
google-cloud-storage
mlflow
s3fs

# utilities
six>=1.14
joblib
memoized-property
termcolor

# git+https://github.com/Vishal151/mlprojectreboot.git

# git+https://github.com/path_to_my_project.git
# git+git://github.com/path/to/package-two@master#egg=package-two